/**** RESET ***/
body {
    margin: 0;
    font-family: "Libre Franklin Extra Bold";
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    
}


/************ VARIABLES ********/

:root {
    --horizon: 22vh;
    /* --seacolor: #3c53ce; */
    /* --seacolor: #003E78; */
    --skycolor: #c9e9f6;
    --seacolor: #025080;
    --sealevel: calc(var(--horizon) - 0.75vh );
    --title-color: #e6bd55;
    --yellow-color: #fddf19;
    --grey-shadow: grey;
    --lifeboat-radius: 40%;
    --deepsea-navy: #18203A;
    --deepsea-blue: #1E2848;
    --gunmetal-black: #203032;

    color: var(--gunmetal-black);

}

/****** STYLES ******/
header {
    background-color: #87ceeb;
    background-color: #c9e9f6;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    font: 900 5.5em "Libre Franklin";
    font: 900 6em "Titan One";
    color: var(--yellow-color);
    color: goldenrod;
    color: #e4b84a;
    color: #e6bd55;
    text-shadow: 2px 2px grey;
}

body {
    background-color: var(--seacolor);
    /* height: 78vh; */
    /* display: flex; */
    /* justify-content: center; */
    /* box-shadow: 0 -0.5rem 12rem 1.5rem #6dc4e7 */
}

main {
    /* height: 78vh; */
    display: flex;
    justify-content: center;
    min-height: calc(100vh - var(--horizon));
}

.ocean {
    overflow: hidden;
    position: absolute;
    top: var(--sealevel);
    height: 4rem;
    width: 100%;
}

.wave {
    display: flex;
    position: absolute;
    width: 40vw;
    width: 50%;
    width: 100%;
    animation: wave 120s infinite;

}

.wave .peak {
    flex: 0 0 60%;
    background-color: var(--seacolor);
    /* background-color: red; */
    height: 4rem;
    border-top-right-radius: 38%;
    border-top-left-radius: 38%;
    clip-path: polygon(0px 50%, 11.96% 8.85%, 27.29% 17.02%, 46.32% 5px, 68.37% 12.7%, 86.96% 3.36%, 100% 50%);
    filter: drop-shadow(2px 2px 4px #003E78) 
}

.crest {
    background-color: rgb(127, 255, 146);
    background-color: var(--seacolor);
    filter: blur(1rem);
    height: 4rem;
    position: absolute;
    width: 100vw;
    /* top: var(--sealevel); */
    animation: crest 100s infinite;
    overflow: hidden;

    clip-path: polygon(0px 50%, 11.96% 8.85%, 27.29% 17.02%, 46.32% 5px, 68.37% 12.7%, 86.96% 3.36%, 100% 50%);

}

.lifeboat {
    background-color: #fddf19;
    max-width: 70vw;
    /* height: 100%; */
    border-top-left-radius: var(--lifeboat-radius);
    border-top-right-radius: var(--lifeboat-radius);
    border: 6rem solid var(--title-color);
    border-bottom: 0;
    box-shadow: inset 0 2px 0.75rem var(--grey-shadow);

    margin-top: 3rem;
    box-sizing: border-box;
    padding: 6rem 4rem 0;

    /*
    background-color: #FEEE85;
    border-radius: var(--lifeboat-radius);
    border-bottom: 6rem solid var(--title-color);
    margin: 3rem 0; */

}

article {
    margin-top: 8rem;
    margin: 2rem;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2.company-name {
    font: 700 3rem "Titan One";
    text-align: center;
    /* margin: 1.5rem; */
    color: #E75A0D;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.call-to-action h3 {
    text-align: center;
}

.call-to-action > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


details {
    padding: 0 2rem;
}

details:hover, details:focus, details[open] {
    border: 1px solid var(--title-color);
    border-radius: 0.75rem;
    box-shadow: 2px 2px 0.275rem var(--title-color);
}

summary {
    list-style-image: url('lifering.svg');
    margin-left: 0.5rem;
    height: 2rem;
    list-style: none;
    margin-left: 2rem;
    line-height: 2rem;
    margin: 1rem 1.5rem;
}

summary:before {
    content: "";
    background: no-repeat center/100% url('lifering.svg');
    height: 2rem;
    width: 2rem;
    position: absolute;
    transform: translateX(-2.5rem);
}

summary:hover, summary:focus {
    font-style: italic;
    font-weight: 800;
}

details div {
    display: grid;
    grid-template: "bio bio"
                    "info value";
    gap: 1rem;
    margin: 1rem 1.5rem;
}

details div .bio {
    grid-area: bio;
}
/* details div .bio:before {
    content: "Bio: ";
    font-weight: bold;
} */

details div span:nth-child(2n) {
    font-weight: bold;
}

details div span.social-link {
    text-transform: capitalize;
}

@keyframes wave {
    from {
        transform: translate3d(-20%, 0, 0)
    }

    50% {
        transform: translate3d(20%, 2%, 0)
    }

    to {
        transform: translate3d(-20%, 0, 0);
    }
}

@keyframes crest {
    from {
        transform: translateX(-50%)
    }
    50% {
        transform: translateX(50%)
    }
    to {
        transform: translateX(-50%);
    }
}



/************  FONTS  **********/

@font-face {
    font-family: "Libre Franklin Extra Bold";
    src: 
        /* url('fonts/LibreFranklin-ExtraBold.otf') format("otf"); */
        url('fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Titan One";
    src: url('fonts/Titan_One/TitanOne-Regular.ttf')
}